<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE RESTAURANT</title>
    <style>

    </style>
</head>
<body>
    <main class="container">
        <div class="restaurant__name-box">
            <h1 class="restaurant__name"> 🌮 Node restrarant 🍲</h1>
        </div>
        <figure class="card">
            <div class="card__emoji">🍝 🍝 </div>
            <div class="card__title-box">
                <h2 class="card__title">Tomato Rigatoni</h2>
            </div>
            <div class="card__detail">
                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-type">vegetarian</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-time">⏲️ : 30 - 40 min</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-price"> $34.00</h5>
                </div>
            </div>
            <a href="#" class="card__link">
                <p class="card__link-text"> More &rarr;</p>
            </a>

        </figure>

        <figure class="card">
            <div class="card__emoji">🍗 🍗  </div>
            <div class="card__title-box">
                <h2 class="card-__itle">Koren Fried Chicken</h2>
            </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-time">⏲️ : 25 - 40 min</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-price"> $30.00</h5>
                </div>
            </div>
            <a href="#" class="card__link">
                <p class="card__link-text"> More &rarr;</p>
            </a>

        </figure>

        <figure class="card">
            <div class="card__emoji">🥗 🥗  </div>
            <div class="card__title-box">
                <h2 class="card__title">Spring spinach salad</h2>
            </div>
            <div class="card__detail">
                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-type">vegetarian</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-time">⏲️ : 5 - 10 min</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-price"> $12.00</h5>
                </div>
            </div>
            <a href="#" class="card__link">
                <p class="card__link-text"> More &rarr;</p>
            </a>

        </figure>

        <figure class="card">
            <div class="card__emoji">🥙 🥙 </div>
            <div class="card__title-box">
                <h2 class="card__title">Fontina Flatbread</h2>
            </div>
            <div class="card__detail">
                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-type">vegetarian</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-time">⏲️ :35 - 40 min</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-price"> $24.00</h5>
                </div>
            </div>
            <a href="#" class="card__link">
                <p class="card__link-text"> More &rarr;</p>
            </a>

        </figure>

        <figure class="card">
            <div class="card__emoji">🥩 🥩 </div>
            <div class="card__title-box">
                <h2 class="card__title">Crusted Filet Mignon</h2>
            </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-time">⏲️ : 35 - 40 min</h5>
                </div>

                <div class="card__detail-content">
                    <h5 class="card__detail-text card__detail-price"> $34.00</h5>
                </div>
            </div>
            <a href="#" class="card__link">
                <p class="card__link-text"> More &rarr;</p>
            </a>

        </figure>
    </main>
</body>
</html>