<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato Rigatoni from NODE RESTAURANT</title>
</head>
<body>
    <main class="container">
        <div class="restaurant-name-box">
            <h1 class="restaurant-name"> 🌮 Node restrarant 🍲</h1>
        </div>

        <div class="product__card">
            <div class="product__top">
                <div class="product__top__backNav">
                    &ShortLeftArrow; Back
                </div>
                <div class="product__veg">
                    <h5 class="product__veg-title"> vegetarian</h5>
                </div>
            </div>
            <figure class="product-emoji-box">
                <div class="product__emoji product__emoji--1">🍝 </div>
                <div class="product__emoji product__emoji--2">🍝 </div>
                <div class="product__emoji product__emoji--3">🍝 </div>
                <div class="product__emoji product__emoji--4">🍝 </div>
                <div class="product__emoji product__emoji--5">🍝 </div>
                <div class="product__emoji product__emoji--6">🍝 </div>
                <div class="product__emoji product__emoji--7">🍝 </div>
                <div class="product__emoji product__emoji--8">🍝 </div>
                <div class="product__emoji product__emoji--9">🍝 </div>
                <div class="product__emoji product__emoji--10"🍝 ></div>
                <div class="product__emoji product__emoji--11"🍝 ></div>
                <div class="product__emoji product__emoji--12"🍝 ></div>
            </figure>

            <div class="product__title-box">
                <h3 class="product__title">Tomato Rigatoni</h3>
            </div>
            <div class="product__detail-box">
               <p class="product__detail-text"><span class="product__detail-emoji">👨‍🍳</span>Chef David Padilla<</p>
               <p class="product__detail-text"><span class="product__detail-emoji">⏲</span>25 - 40 min</p>
               <p class="product__detail-text"><span class="product__detail-emoji">📦</span>2 servers</p>
               <p class="product__detail-text"><span class="product__detail-emoji">💰</span>$ 34.00</p>
            </div>

            <div class="product__title-box">
                <h3 class="product__title">Cooking guidelines </h3>
            </div>

            <div class="product__description">
                <h3 class="product__description-title product__description-title--1">
                    1) Prepare the Ingredients
                </h3>
                <p class="product__description-text product__description--1">
                    Cut ciabatta into ½" cubes. Stem, seed, remove ribs, and slice red bell pepper into ¼" strips. 
                    Cut mushrooms into ¼" slices. Mince garlic.
                </p>

                <h3 class="product__description-title product__description-title--2">
                    2) Make the Grilled Cheese Croutons
                </h3>
                <p class="product__description-text product__description--2">
                    Place a medium non-stick pan over medium heat. Add 1 tsp. olive oil and ciabatta cubes to hot pan. 
                    Stir occasionally until lightly brown, 3-4 minutes. Add mozzarella, half the Parmesan 
                    (reserve remaining for garnish), and half the garlic (reserve remaining for sauce). Stir constantly until cheese melts, 30-60 seconds.
                </p>

                <h3 class="product__description-title product__description-title--3">
                    3) Cook the Pasta
                </h3>
                <p class="product__description-text product__description--3">
                    Once water is boiling, add pasta and cook until al dente, 11-13 minutes. Reserve ¼ cup pasta cooking water. 
                    Drain pasta in a colander and set aside. Reserve pot; no need to wipe clean. While pasta boils, cook vegetables.
                </p>

                <h3 class="product__description-title product__description-title--4">
                    4) Cook the Vegetables
                </h3>
                <p class="product__description-text product__description--4">
                    Return pan used to make croutons to medium-high heat. Add 1 tsp. olive oil and red bell pepper to hot pan. 
                    Cook undisturbed until lightly charred, 2-3 minutes. Add mushrooms, ¼ tsp. salt, and a pinch of pepper. 
                    Stir occasionally until tender, 3-4 minutes. Remove from burner
                </p>

                <h3 class="product__description-title product__description-title--5">
                    5) Make Sauce and Finish Dish
                </h3>
                <p class="product__description-text product__description--5">
                    Stir in cream, reserved pasta cooking water, tomato paste, and vegetable base until combined.
                     Stir in pasta, vegetables, ¼ tsp. salt, and a pinch of pepper. Plate dish as pictured on front of card, 
                     topping pasta with croutons and garnishing with remaining Parmesan. Bon appétit!
                </p>

            </div>
            <a href="#" class="product__cta">
                <p class="product__cta-text">
                    Buy Tomato Bigatoni ($ 34.00)
                </p>
            </a>
        </div>
    </main>    
    
</body>
</html>